<header class="header">
    <div class="header-left">
        <img src="assets/images/simir.png" alt="SIMIR Logo" class="header-logo">
        <div class="header-contact">
            <a href="tel:+526145518651" class="contact-link">
                <i class="fas fa-phone"></i>
            </a>
            <a href="https://wa.me/message/PGBVC2B2SREDG1" class="contact-link" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>
    <nav>
        <ul class="nav-menu">
            <li><a href="index.html" class="nav-link" id="nav-t10">DINERBOT T10</a></li>
            <li><a href="butlerbot.html" class="nav-link" id="nav-t9">DINERBOT T9</a></li>
        </ul>
    </nav>
</header>